* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

#bg {
    position: relative;
    background: radial-gradient(ellipse at center, #9e79d7 0%, #24133e 100%);
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#heading {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 0.5rem 0;
}

#subheading {
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin: 0.5rem 0;
}

.action-btn {
    border: none;
    font-size: 1rem;
    width: 9.375rem;
    height: 2.5rem;
    margin: 0.25rem 0;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.action-btn:hover {
    color: #9e79d7;
    background-color: white;
}

.action-btn:focus, .action-btn:active {
    outline: none;
}

#start-btn {
    opacity: 0.5;
    cursor: not-allowed;
}

#start-btn:hover {
    background-color: transparent;
    color: white;
}

.link-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.5rem 0.125rem;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.link-btn:focus, .link-btn:active {
    border: none;
    outline: none;
}

#github:hover {
    background-color: #333333;
}

#linkedin:hover {
    background-color: #0077b5;
}

#email:hover {
    background-color: #b23121;
}

#resume:hover {
    background-color: #9e79d7;
}

#source-code-link {
    color: #9e79d7;
}

#source-code-link:hover {
    color: #24133e;
    text-decoration: underline;
}

.modal.fade {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}

.modal.fade > .modal-dialog {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition:    all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    -o-transition:      all .2s ease-in-out;
    transition:         all .2s ease-in-out;
}

.modal.fade.show > .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.modal-body {
    position: relative;
}

.close {
    font-size: 1.75rem;
    font-weight: 600;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.close:hover {
    color: #9e79d7;
}

.close:focus, .close:active {
    border: none;
    outline: none;
}

.skills-heading {
    font-weight: 600;
    margin-top: 0.5rem;
}

@media (min-width: 576px) {
    #heading {
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
        margin: 0.5rem 0;
    }
    
    #subheading {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 0.5rem 0;
    }
}

@media (min-width: 768px) {
    #heading {
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        margin: 0.5rem 0;
    }

    #subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0.5rem 0;
    }

    .action-btn {
        font-size: 1.25rem;
        width: 12.75rem;
        height: 3rem;
    }

    .link-btn {
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
