html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

#home {
    width: 100%;
    min-height: 100%;
}

#main-title {
    margin-top: 2rem;
}

.route-btn {
    width: 200px;
}

.route-section {
    padding-top: 5rem;
}

.route-section-btn {
    -webkit-transform:  rotate(0);
    -moz-tranform:      rotate(0);
    -ms-transform:      rotate(0);
    -o-transform:       rotate(0);
    transform:          rotate(0);
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -ms-transition:     all 0.3s;
    -o-transition:      all 0.3s;
    transition:         all 0.3s;
}

.route-section-btn.open {
    -webkit-transform:  rotate(90deg);
    -moz-tranform:      rotate(90deg);
    -ms-transform:      rotate(90deg);
    -o-transform:       rotate(90deg);
    transform:          rotate(90deg);
}

.route-heading {
    margin-bottom: 1rem;
}

.route-section-collapse {
    
}

.route-map {
    width: 100%;
    height: auto;
}

.route-directions {

}

.route-directions-step {

}
